@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.slant{
   position: relative;
   width: 100%;
   height: 100%;
   background: url('https://rockresearch.com/wp-content/uploads/2017/11/event_technology.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
section:before{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 200px;
   background: #fff;
   clip-path: polygon(100% 0, 0 100% , 100% 100%);
}
.content{
   position: relative;
   max-width: 900px;
   text-align: center;
}
.content h1{
   margin: 0;
   padding: 0;
   color: white;
   font-size: 3em;
}
/* ///////////////////cards///////////////////// */
.card {
   display: grid;
   grid-template-columns: 300px;
   grid-template-rows: 210px 210px 80px;
   grid-template-areas: "image" "text" "stats";
 
   border-radius: 18px;
   background: white;
   box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
   font-family: roboto;
   text-align: center;
 }

 .card-image {
   grid-area: image;
 }
 .card-text {
   grid-area: text;
 }
 .card-stats {
   grid-area: stats; 
 }

 .card-image {
   grid-area: image;
  /* // background: url("../../../assets/img/sectn6.jpg"); */
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   background-size: cover;
 }


 .card-text {
   grid-area: text;
   margin: 25px;
 }
 .card-text .date {
   color: rgb(255, 7, 110);
   font-size:13px;
 }
 .card-text p {
   color: grey;
   font-size:15px;
   font-weight: 300;
 }
 .card-text h2 {
   margin-top:0px;
   font-size:28px;
 }
 .card-stats {
   grid-area: stats; 
   display: grid;
   grid-template-columns:  1fr;
   grid-template-rows: 1fr;
 
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   background:rgb(11, 134, 235);
   color: black;
 }
 .card-stats .stat {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 
   color: white;
   padding:10px;
 }

 .card:hover {
   /* transform: scale(1.15); */
   box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
 }
 .card {
 
 
   /* transition: 0.5s ease; */
   cursor: pointer;
   margin:30px;
 }
 .cardsrow{
     width: 90%;
     max-width: 90%;
 }
 /* //////////////////////////// */
 
body {   font-family: Helvetica, san-serif;
  background: -webkit-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* W3C */ }
.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 300px;
}
.card:hover {
    height: 450px;
    width: 300px;
}
.card:hover .cta-container {
    display: inline;
    margin-top: 380px;
}
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}
.card:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
}
.card:hover h2 small { color: #fff }
.card:hover p { margin-top: 300px }
.card_circle {
    /* background: url('http://lorempixel.com/400/200') no-repeat center bottom; */
    background-color: #3487f7;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
}
h2 {
    color: #3487f7;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
p {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.cta-container {
    display: none;
    margin-top: 700px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}